
 
  <h2><%= comment.title %></h2>
    <h3><%= comment.name %></h3>
 
  <!-- change the name to a link -->
  <h3>by: <%= link_to comment.pattern.name, pattern_comments_path(comment.pattern) %></h3>
  <p><%= comment.message %></p>