/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 $white: #530b0b;
 $lime: #3ae943;
 $red: #cc000ac9;
 $orange: #eb4b01;
 $purle: #5e0283c4;
 body {
     background: $red;
     color: $lime;
     font-family: 'Merriweather', sans-serif;
 }
 
 p {
     font-size: 16px;
     color: $purple;
 }
 
 .navbar {
     margin-bottom: 20px;
 }
 
 .nav-btn {
     margin-right: 10px;
 }
 
 .card {
     max-width: 400px;
     width: 400px;
     margin: 15px 0;
     background-color: $orange;
 }