
<div class="jumbotron">
    <div class="container">
       <h1> Welcome to PatternKeeper!</h1>
        <p>Begin Your Keeping Voyage Now</p>
        <br>
        <%= image_tag "57470.jpg" %>
    </div>
</div>