<h1> Welcome to PatternKeeper!</h1>
<h2> Begin Your Keeping Voyage down below</h2>

<%= link_to 'Sign up', new_user_registration_path, method: :get, class: "btn btn-outline-success" %>
<br>
OR
<br>
<%= link_to 'Login', new_user_session_path, method: :get, class: "btn btn-outline-success" %>